header {
    text-align: center;
    font: 1em sans-serif;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin-left: 450px;
}
button {
    color: #3882F6;
}


body {
    background-color: #1F2937;
}

h2 {
    text-align: center;
}


